# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [ ]:
!pip install -U scipy

In [ ]:
# import numpy and pandas

In [1]:
import numpy as np
import pandas as pd  
import seaborn as sns
import matplotlib.pyplot as plt

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [2]:
!pwd

/Users/aloaskari/Desktop/Ironhack/Bootcamp/Week_4/Day_3/Afternoon/Lab/clone/lab-Hypothesis-Testing/your-code

In [3]:
# Your code here:
df = pd.read_csv('/Users/aloaskari/Desktop/Ironhack/Bootcamp/Week_4/Day_3/Afternoon/Lab/clone/lab-Hypothesis-Testing/data/Salaries.csv')

/var/folders/zh/vb5lf3750v95681z25hzkm9c0000gn/T/ipykernel_54487/49510609.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/aloaskari/Desktop/Ironhack/Bootcamp/Week_4/Day_3/Afternoon/Lab/clone/lab-Hypothesis-Testing/data/Salaries.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [5]:
# Your code here:

In [6]:
df.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [7]:
df.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [8]:
# Your code here

In [9]:
df = df.drop(['Notes'], axis = 1)
 
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,San Francisco,NaN

In [10]:
df.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [11]:
# Your code here

In [12]:
df['Status'].unique()

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [13]:
# Your code here

In [14]:
df = df.dropna(subset=['Status'])

In [15]:
# Your code here

In [16]:
df.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [17]:
# Your code here

In [18]:
df.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Agency               object
Status               object
dtype: object

In [19]:
# Your code here

In [20]:
df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce')
df['OvertimePay'] = pd.to_numeric(df['OvertimePay'], errors='coerce')
df['OtherPay'] = pd.to_numeric(df['OtherPay'], errors='coerce')
df['Benefits'] = pd.to_numeric(df['Benefits'], errors='coerce')

Do any type conversions and reset the index.

In [21]:
# Your code here

In [22]:
df.reset_index(inplace=True)

In [23]:
df.dtypes

index                 int64
Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Agency               object
Status               object
dtype: object

In [25]:
df = pd.DataFrame(df)

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [ ]:
# Your code here

In [26]:
result = df['TotalPayBenefits'].equals(df['BasePay'] + df['OvertimePay'] + df['OtherPay'] + df['Benefits'])

print(result)

False

What is the percentage of employees for which the previous assumption is not True?

In [27]:
# Your code here:

In [28]:
not_equal_count = df.loc[(df['BasePay'] + df['OvertimePay'] + df['OtherPay'] + df['Benefits']) != df['TotalPayBenefits']].shape[0]

In [29]:
percentage = not_equal_count / df.shape[0] * 100

print(f"The percentage of employees for which the assumption is not true is {percentage:.2f}%")

The percentage of employees for which the assumption is not true is 26.29%

There are different departments in the city. List all departments and the count of employees in each department.

In [30]:
# Your code here:

In [31]:
df['JobTitle'].value_counts()

Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
                                ...
Claims Process Clerk               1
Asst Dir, Log Cabin Rnch           1
Media Production Specialist        1
Chf Prob Ofc, Juv Court            1
Electric Motor Repair Sprv 1       1
Name: JobTitle, Length: 996, dtype: int64

In [32]:
dept_df = df.loc[df['JobTitle'].str.contains('Department', case=False)]

In [33]:
dept_df.head()

,index,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
4,110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT
1155,111686,111687,Robert A Kaprosch,"Sergeant, (Police Department)",130260.00,45438.89,14571.87,41761.00,190270.76,232031.76,2014,San Francisco,FT
1392,111923,111924,Manuel Bonilla Jr,"Sergeant, (Police Department)",130260.09,43291.56,11772.55,41272.02,185324.20,226596.22,2014,San Francisco,FT
1462,111993,111994,Walter C Ware,"Sergeant, (Police Department)",130260.09,40461.63,10852.26,42439.79,181573.98,224013.77,2014,San Francisco,FT
1640,112171,112172,John H Monroe,"Inspector, (Police Department)",130260.00,14406.64,29251.57,46492.13,173918.21,220410.34,2014,San Francisco,FT

In [34]:
dept_df.shape

(12, 13)

In [35]:
dept_df['JobTitle'].value_counts()

Sergeant, (Police Department)     9
Chief, Fire Department            1
Inspector, (Police Department)    1
Lieutenant (Police Department)    1
Name: JobTitle, dtype: int64

In [36]:
dept_df['JobTitle'] = dept_df['JobTitle'].str.lower()

/var/folders/zh/vb5lf3750v95681z25hzkm9c0000gn/T/ipykernel_54487/4059462408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dept_df['JobTitle'] = dept_df['JobTitle'].str.lower()

In [37]:
dept_df['JobTitle'].value_counts()

sergeant, (police department)     9
chief, fire department            1
inspector, (police department)    1
lieutenant (police department)    1
Name: JobTitle, dtype: int64

In [38]:
fire_count = df.loc[df['JobTitle'].str.contains('fire', regex=True, case=False)].shape[0]
police_count = df.loc[df['JobTitle'].str.contains('police', regex=True, case=False)].shape[0]
medical_count = df.loc[df['JobTitle'].str.contains('medical', regex=True, case=False)].shape[0]

print(f"There are {fire_count} employees in the Fire Department")
print(f"There are {police_count} employees in the Police Department")
print(f"There are {medical_count} employees in the Medical Department")

There are 1511 employees in the Fire Department
There are 1901 employees in the Police Department
There are 438 employees in the Medical Department

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [39]:
import scipy.stats
from scipy.stats import ttest_1samp, t

In [40]:
# Your code here: (compute the "Hourly_Wage")

In [41]:
ft_workers = df.loc[df['Status'] == 'FT']

hourly_wage = ft_workers['TotalPayBenefits'] / (50 * 40)

In [42]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

In [43]:
mean_hourly_wage = hourly_wage.mean()

print(f"The mean hourly wage for full-time workers is {mean_hourly_wage:.2f}")

The mean hourly wage for full-time workers is 69.26

In [44]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [45]:
t_statistic, p_value = ttest_1samp(hourly_wage, 75)

alpha = 0.05
if p_value < alpha:
    print(f"The hourly wage of full-time workers is significantly different from $75/hr (p-value={p_value:.4f})")
else:
    print(f"The hourly wage of full-time workers is not significantly different from $75/hr (p-value={p_value:.4f})")

The hourly wage of full-time workers is significantly different from $75/hr (p-value=0.0000)

In [46]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [47]:
alpha = 0.05
df = len(hourly_wage) - 1
critical_value = t.ppf(1 - alpha / 2, df)

if abs(t_statistic) > critical_value:
    print(f"The hourly wage of full-time workers is significantly different from $75/hr (t-statistic={t_statistic:.4f}, critical value={critical_value:.4f})")
else:
    print(f"The hourly wage of full-time workers is not significantly different from $75/hr (t-statistic={t_statistic:.4f}, critical value={critical_value:.4f})")

The hourly wage of full-time workers is significantly different from $75/hr (t-statistic=-35.8063, critical value=1.9601)

Are all the methods in agreement?

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [48]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [49]:
police_df = dept_df.loc[dept_df['JobTitle'].str.contains('police', case=False)]

police_df.head()

,index,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
1155,111686,111687,Robert A Kaprosch,"sergeant, (police department)",130260.00,45438.89,14571.87,41761.00,190270.76,232031.76,2014,San Francisco,FT
1392,111923,111924,Manuel Bonilla Jr,"sergeant, (police department)",130260.09,43291.56,11772.55,41272.02,185324.20,226596.22,2014,San Francisco,FT
1462,111993,111994,Walter C Ware,"sergeant, (police department)",130260.09,40461.63,10852.26,42439.79,181573.98,224013.77,2014,San Francisco,FT
1640,112171,112172,John H Monroe,"inspector, (police department)",130260.00,14406.64,29251.57,46492.13,173918.21,220410.34,2014,San Francisco,FT
2662,113193,113194,Dennis J Omahony,"sergeant, (police department)",130260.02,17883.01,11086.34,41966.85,159229.37,201196.22,2014,San Francisco,FT

In [50]:
this_year_police_salaries = police_df.loc[police_df['Year'] == 2023]['TotalPayBenefits']

In [51]:
t_statistic, p_value = ttest_1samp(this_year_police_salaries, 86000)

alpha = 0.05
if p_value < alpha:
    print(f"Police officer salaries this year are significantly higher than last year's mean (p-value={p_value:.4f})")
else:
    print(f"Police officer salaries this year are not significantly higher than last year's mean (p-value={p_value:.4f})")

Police officer salaries this year are not significantly higher than last year's mean (p-value=nan)

/Users/aloaskari/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/Users/aloaskari/opt/anaconda3/lib/python3.9/site-packages/numpy/core/_methods.py:190: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [52]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [53]:
alpha = 0.05
df = len(this_year_police_salaries) - 1
critical_value = t.ppf(1 - alpha / 2, df)

print("Critical value: {:.4f}".format(critical_value))

Critical value: nan

In [54]:
# Method 2: Use the p-value method.
# Your code here:

In [55]:
t_statistic, p_value = ttest_1samp(this_year_police_salaries, 86000)

alpha = 0.05
if p_value < alpha:
    print("Salaries this year are significantly higher than last year's mean of $86000/year for all salaried employees (p-value={:.4f})".format(p_value))
else:
    print("Salaries this year are not significantly higher than last year's mean of $86000/year for all salaried employees (p-value={:.4f})".format(p_value))

Salaries this year are not significantly higher than last year's mean of $86000/year for all salaried employees (p-value=nan)

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [ ]:
# Your code here: (Get the department which has most employees)

In [56]:
df['JobTitle'].value_counts()

TypeError: 'int' object is not subscriptable

In [ ]:
transit_df = df.loc[df['JobTitle'] == 'Transit Operator']

In [ ]:
hourly_wage = transit_df['TotalPayBenefits'] / 50 / 40

In [ ]:
sample_mean = hourly_wage.mean()
sample_std = hourly_wage.std()

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [ ]:
hypothesized_mean = 35
n = len(hourly_wage)
t_statistic = (sample_mean - hypothesized_mean) / (sample_std / np.sqrt(n))

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [ ]:
alpha = 0.05
degrees_of_freedom = n - 1
critical_value = t.ppf(alpha, degrees_of_freedom)

In [ ]:
if t_statistic < critical_value:
    print("Reject the null hypothesis that the hourly wage is greater than or equal to $35/hour.")
else:
    print("Fail to reject the null hypothesis that the hourly wage is greater than or equal to $35/hour.")

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [ ]:
p_value = t.cdf(t_statistic, degrees_of_freedom)
if p_value < alpha:
    print("Reject the null hypothesis that the hourly wage is greater than or equal to $35/hour.")
else:
    print("Fail to reject the null hypothesis that the hourly wage is greater than or equal to $35/hour.")

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [ ]:
t_statistic2, p_value2 = ttest_1samp(hourly_wage, hypothesized_mean)
if p_value2 / 2 < alpha and t_statistic2 < 0:
    print("Reject the null hypothesis that the hourly wage is greater than or equal to $35/hour.")
else:
    print("Fail to reject the null hypothesis that the hourly wage is greater than or equal to $35/hour.")

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [ ]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

In [ ]:
hourly_wage = df.loc[df['Status'] == 'PT']['TotalPayBenefits'] / (50 * 40)

sample_mean = hourly_wage.mean()
standard_error = hourly_wage.sem()

In [ ]:
degrees_of_freedom = len(hourly_wage) - 1

alpha = 0.05
critical_value = t.ppf(1 - alpha / 2, degrees_of_freedom)

lower_bound = sample_mean - critical_value * standard_error
upper_bound = sample_mean + critical_value * standard_error

print("95% Confidence interval for the mean hourly wage: [{:.2f}, {:.2f}]".format(lower_bound, upper_bound))

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [ ]:
# Your code here:

In [ ]:
hourly_wage = police_df['TotalPayBenefits'] / (50 * 40)

sample_mean = hourly_wage.mean()
standard_error = hourly_wage.sem()

In [ ]:
degrees_of_freedom = len(hourly_wage) - 1

alpha = 0.05
critical_value = t.ppf(1 - alpha / 2, degrees_of_freedom)

lower_bound = sample_mean - critical_value * standard_error
upper_bound = sample_mean + critical_value * standard_error

print("95% Confidence interval for the mean hourly wage of police officers: [{:.2f}, {:.2f}]".format(lower_bound, upper_bound))

#Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawyers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [ ]:
# Your code here: (Create the function)

In [ ]:
import re

def categorize_job_title(job_title):
    job_title = job_title.lower()
    if re.search(r'police', job_title):
        return 'Policemen'
    elif re.search(r'fire', job_title):
        return 'Firemen'
    elif re.search(r'med|nurse', job_title):
        return 'Medical'
    elif re.search(r'attorney', job_title):
        return 'Lawyer'
    else:
        return 'Other'

In [ ]:
# Your code here: (Apply the function)

In [ ]:
df['employee_group'] = df['JobTitle'].apply(categorize_job_title)

print(df['employee_group'].value_counts())

Determine how many "PT" and "FT" employess have all the employees groups.

In [ ]:
# Your code here: (Store the output dataframe into a new variable)

In [ ]:
employee_counts = df.groupby(['employee_group', 'EmploymentType']).size()

employee_counts_df = pd.DataFrame(employee_counts, columns=['count']).reset_index()

print(employee_counts_df)

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [ ]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

In [ ]:
pt_probs = df[df["Status"] == "PT"]["employee_group"].value_counts(normalize=True)
ft_probs = df[df["Status"] == "FT"]["employee_group"].value_counts(normalize=True)

frequencies = pd.DataFrame(columns=["PT", "FT"], index=["Policemen", "Firemen", "Medical", "Lawyer", "Other"])

In [ ]:
for group in frequencies.index:
    for status in frequencies.columns:
        expected_count = round(len(df) * pt_probs[group] * (1 if status == "PT" else ft_probs[group]))
        frequencies.loc[group, status] = expected_count

print(frequencies)

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [ ]:
prob_firemen = len(df[df["employee_group"] == "Firemen"]) / len(df)

prob_ft = len(df[df["FT/PT"] == "FT"]) / len(df)

firemen_ft = prob_firemen * prob_ft * len(df)
print(firemen_ft)

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [ ]:
prob_ft = len(df[df["FT/PT"] == "PT"]) / len(df)

firemen_pt = prob_firemen * prob_ft * len(df)
print(firemen_pt)

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [ ]:
prob_lawyers = len(df[df["employee_group"] == "Lawyer"]) / len(df)

prob_ft = len(df[df["FT/PT"] == "FT"]) / len(df)

lawyers_ft = prob_lawyers * prob_ft * len(df)
print(lawyers_ft)

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [ ]:
prob_pt = len(df[df["FT/PT"] == "PT"]) / len(df)

lawyers_pt = prob_lawyers * prob_pt * len(df)
print(lawyers_pt)

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [ ]:
prob_med = len(df[df["employee_group"] == "Medical"]) / len(df)

prob_ft = len(df[df["FT/PT"] == "FT"]) / len(df)

medical_ft = prob_med * prob_ft * len(df)
print(medical_ft)

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [ ]:
prob_pt = len(df[df["FT/PT"] == "PT"]) / len(df)

medical_pt = prob_med * prob_pt * len(df)
print(medical_pt)

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [ ]:
prob_other = len(df[df["employee_group"] == "Other"]) / len(df)

prob_ft = len(df[df["FT/PT"] == "FT"]) / len(df)

other_ft = prob_other * prob_ft * len(df)
print(other_ft)

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [ ]:
prob_ft = len(df[df["FT/PT"] == "PT"]) / len(df)

other_pt = prob_other * prob_ft * len(df)
print(other_pt)

In [ ]:
# Your code here: Compute Expected frequency of being "Policemen" and "FT". Store the solution in a variable named "policemen_ft"

In [ ]:
prob_police = len(df[df["employee_group"] == "Policemen"]) / len(df)

prob_ft = len(df[df["FT/PT"] == "FT"]) / len(df)

policemen_ft = prob_police * prob_ft * len(df)
print(policemen_ft)

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

In [ ]:
prob_pt = len(df[df["FT/PT"] == "PT"]) / len(df)

policemen_pt = prob_police * prob_pt * len(df)
print(policemen_pt)

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [ ]:
# Your code here:

In [ ]:
ft_expected = [firemen_ft, lawyers_ft, medical_ft, other_ft, policemen_ft]
pt_expected = [firemen_pt, lawyers_pt, medical_pt, other_pt, policemen_pt]

expected_dict = {"FT": ft_expected, "PT": pt_expected}

expected_df = pd.DataFrame(expected_dict, index=employee_groups)

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [ ]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [ ]:
from scipy.stats import chi2_contingency

# Compute the chi-squared test
chi2_stat, p_val, dof, expected = chi2_contingency(actual_freq)

# Print the results
print("Chi-squared statistic:", chi2_stat)
print("P-value:", p_val)
print("Degrees of freedom:", dof)
print("Expected frequencies:\n", expected)

In [ ]:
if p_val < 0.05:
    print("Reject the null hypothesis that there is no relationship.")
else:
    print("Fail to reject the null hypothesis that there is relationship differences.")

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [ ]:
prob_employee_group = [0.2, 0.3, 0.5]
prob_FT_PT = [0.7, 0.3]
expected_freq_indiv = []
for i in range(len(prob_employee_group)):
    expected_freq_row = []
    for j in range(len(prob_FT_PT)):
        expected_freq_row.append(prob_employee_group[i] * prob_FT_PT[j] * N)
    expected_freq_indiv.append(expected_freq_row)

if np.array_equal(expected_freq, expected_freq_indiv):
    print("Expected frequencies agree!")
else:
    print("Expected frequencies do not agree.")